<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
    </head>
    <%- include('../includes/nav.ejs') %>

        <body>
            <div class="container">
                <h3 class="center">Songs list <i class="fas fa-music"></i></h3>

                <%if(songs.length<=0){%>
                    <h2 class="header">Empty list.</h2>
                    <p class="grey-text text-darken-3 lighten-3">There are no songs here.</p>
                    <%}else{%>

                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Created At</th>
                                    <th>User</th>
                                    <th>See Lyrics</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% songs.forEach(s => { %>
                                    <tr>
                                        <td>
                                            <%= s.title %>
                                        </td>
                                        <td>
                                            <%= s.author %>
                                        </td>
                                        <td>
                                            <%= JSON.stringify(new Date(s.createdAt)).slice(1,11) %>
                                        </td>
                                        <td>
                                            <%= s.user.firstName %>
                                        </td>
                                        <td>
                                            <a href="/songs/<%= s._id %>" class="waves-effect waves-light btn">See</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>



                        <%}%>
            </div>

            <%- include('../includes/end.ejs') %>