<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
    </head>
    <%- include('../includes/nav.ejs') %>

        <body>
            <div class="container">
                <h3 class="center">User Songs <i class="fas fa-music"></i></h3>
                <h2>Hi
                    <%=name%>!
                </h2>
                <%if(songs.length<=0){%>
                    Empty list
                    <%}else{%>
                        <h3 class="center">Songs List</h3>



                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Created At</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% songs.forEach(s => { %>
                                    <tr>
                                        <td>
                                            <%= s.title %>
                                        </td>
                                        <td>
                                            <%= s.author %>
                                        </td>
                                        <td>
                                            <%= JSON.stringify(new Date(s.createdAt)).slice(1,11) %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>



                        <%}%>
            </div>

            <%- include('../includes/end.ejs') %>